<div class="container mt-4">
  <h2>{{ isEdit ? 'Edit' : 'Add' }} Employee</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="employee.name" name="name" required />
    </div>
    <div class="mb-3">
      <label>Department</label>
      <input type="text" class="form-control" [(ngModel)]="employee.department" name="department" required />
    </div>
    <div class="mb-3">
      <label>Salary</label>
      <input type="number" class="form-control" [(ngModel)]="employee.salary" name="salary" required />
    </div>
    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-secondary" routerLink="/employees" type="button">Cancel</button>
  </form>
</div>

